body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: #F1F2F4;
}
#headerNav {
    padding: 5px 0;
    border-bottom: 1px solid rgba(58, 58, 58, 0.8);
    background: white;
}
.navbarHeader {
    align-items: center;
    font-weight: 600;
}
#logoLinkTexto{
    margin-bottom: 0;
    color: black;
    cursor: default;
}
.showcaseImage {
    position: relative;
}
.showcaseImage img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.showcaseImage_text {
    position: absolute;
    top: 60px;
    left: 50px;
    font-family:'Playfair Display', serif;
}
.showcaseImage_text .text {
    width: 40%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.892);
    text-align: center;
}
.showcaseImage_text .text h3 {
    margin-bottom: 5px;
}
.showcaseImage_text .text span {
    display: block;
    margin: auto;
    width: 160px;
    border-bottom: 4px solid black;
}
.showcaseImage_text .text p {
    margin: 3px 7px 0 7px;
}
.owl-carousel {
    margin: 15px 0;
}
footer {
    padding: 10px 0;
    color: white;
    height: 5%;
    background: rgb(24, 24, 24);
}
footer h3 {
    text-align: center;
    font-size: 0.9rem;
    margin: 0;
}
@media (max-width: 768px) {
    .showcaseImage_text {
        display: none;
    }
}